:root{
    --bgcolor:#beb8ac;
    --blue:#2fb7fe;
    --black:#3D3F42;
    --white:#f4f7ff;
    --gray:#d8dce4;
    --lightgray:#8e9095;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    background: var(--bgcolor);
    font-family: Helvetica, Arial, sans-serif;
    
}

.clearfix{
    clear: both;
}

.resume-box{
    width: 800px;
    height: 1000px;
    margin: 100px auto;
    background: var(--white);
    box-shadow: 5px 21px 20px 20px #3d3f4238;
}

.left-section{
    background: var(--black);
    width: 250px;
    height: 1000px;
    float: left;
}

.profile{
    overflow: hidden;
    position: relative;
}

.blue-box{
    width: 257px;
    height: 407px;
    background: var(--blue);
    margin-left: -100px;
    transform: rotateZ(48deg);
    margin-top: -178px;
}

.profile-img{
    position: absolute;
    z-index: 9;
    width: 120px;
    height: 120px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 3px solid var(--gray);
}

.name{
    color: var(--gray);
    text-align: center;
    margin-top: -34px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
}

.name span {
    color:var(--blue) ;
}

.n-p {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
}

.info{
    margin-top: 50px;
}

.heading {
    width: 180px;
    margin: 0 auto;    
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid var(--gray);
    border-top: 1px solid var(--gray);
    color: var(--gray);
    margin-top: 11px;
    text-transform: uppercase;
    font-size: 18px;
}

.p1 {
    color: var(--gray);
    width: 184px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 15px;
    line-height: 14px;
}

.p1 span {
    font-size: 12px;
}

.span1 img {
    /* background: white; */
    width: 40px;
    /* padding: 1px; */
    border-radius: 8px;
    float: left;
    margin-right: 10px;
}

.right-section {
    padding: 80px 30px;
    background: var(--white);
    width: 68%;
    float: left;
    height: 1000px;
}

.right-section img {
    background: var(--white);
    width: 36px;
    padding: 7px;
    border-radius: 17px;
    float: left;
    display: inline-block;
    margin-top: -6px;
}

.p2 {
    margin: 0 auto;
    padding: 2px;
    border-bottom: 1px solid var(--lightgray);
    border-top: 1px solid var(--lightgray);
    color: var(--black);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 50px;
    line-height: 18px;
}

.p3 {
    margin-top: 20px;
    color: var(--lightgray);
    text-align: justify;
    word-spacing: -4px;
}

.left {
    width: 25px;
    float: left;
}

.right {
    width: 75px;
    float: left;
}

.lr-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.p4 {
    font-size: 14px;
    font-weight: 600;
}

.p5 {
    font-size: 12px;
    color: var(--lightgray);
}

.s-box {
    width: 50%;
    float: left;
    padding: 20px 20px 20px 0px;;
}

.p6{
	margin-top: 10px;
	margin-bottom: 10px;
}
.h-img{
	margin-top: 200px;
    width: 100px;
    margin-right: 45px;
}

  .container{
    width: 50%;
    margin: 0 auto;
  }
  @keyframes load{
    from {
      width: 0%
    }
  }
  @-webkit-keyframes load{
    from {
      width: 0%
    }
  }
  @-moz-keyframes load{
    from {
      width: 0%
    }
  }
  @-o-keyframes load{
    from {
      width: 0%
    }
  }
  
  .bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 12px;
    margin-bottom: 3px;
    font-size: 14px;
    color: #343030;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color:#2fb7fe;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
  }
  
  .bar.front::before{
    background-color: #2fb7fe;
  }
  .bar.back::before{
    background-color: #2fb7fe;
  }
  
  .bar.learning::before{
    width: calc(70% - 5px);
  }
  .bar.basic::before{
    width: calc(50% - 10px);
  }
  .bar.intermediate::before{
    width: calc(30% - 10px);
  }
  .bar.advanced::before{
    width: calc(70% - 10px);
  }
  